<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rriskhh.start.trial_01">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="._Splash_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Lists._List_Screen" />
        <activity android:name=".Main._Main_Screen"
            android:screenOrientation="portrait"/>
        <activity android:name=".Webpage._Display_Feed" />
        <activity android:name=".Lists._Bookmark_List" />
        <activity android:name=".Account._LoginOrRegister" />
        <activity android:name=".Account._Account"></activity>
    </application>

</manifest>
